phaser/node_modules/*
phaser.old/*
*.7z
phaser/tutorial/*
*.tsx
*.tmx

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
phaser/assets/heart.png:Zone.Identifier
phaser/assets/soundtrack.opus:Zone.Identifier
